/* *{
    background-color: yellowgreen;
}| */
*{
    margin: o;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:  bottom right ,left ;
}

nav{
    display: flex;
    justify-content: space-between;  
    margin: 50px 200px;
    align-items: center;
}
.nav title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin: 50px;
}
.nav-button{
    color: #f2f2f2;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    height: 60px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
ul{
    display: flex;
    align-items: center;
}
.one{
    color: #FD6E0A;
}
.bannar{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.bannar-suv-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.bannar-title{
    font-weight: 700;
    font-size: 55px;      
}
.bannar-details{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.all-button{
    align-items: center;
    display: flex;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-section{
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 120px 145px;
    margin-top: 70px;
    margin-bottom: 5%;
}
.about-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;

}

.about-con{
    display: flex;
    justify-content: space-around;
}
.about-info{   
    font-size: 20px;
   
}
.info-name{
    color: #757575;
}
.about-work{
    color: black;
    font-weight: 700;
}
.skill-section-all{
    
}
.section-head-title{
    margin-top: 5%;
}


